<html>
    <head>
        <title>RecipePlanner</title>
    </head>
    <body>
        <h1>Hello, {{ username }}!</h1>
        <div>
            <ul>
                <li><a href="/MyRecipes">View My Recipes</a></li>
                <li><a href="/MyPantry">View My Pantry</a></li>
                <li><a href="/editPantry">Edit My Pantry</a></li>
                <li><a href="/createRecipe">Create a New Recipe</a></li>
                <li><a href="/Search for New Recipe's">Search Recipes</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </body>
</html>
